@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer utilities {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Sidebar */
  .sidebar {
    @apply w-[72px] flex h-full flex-col min-h-min flex-none xl:w-[244px] md:border-r-[1px] md:border-[#262626] md:items-center xl:!justify-start;
  }

  .sidebar-logo{
    @apply hidden w-10/12 rounded-lg px-1 py-3 md:flex cursor-pointer justify-center items-center mt-12 xl:justify-start hover:bg-secondary/80;
  }
  .sidebar-link {
    @apply relative flex-row gap-3 items-center px-1 rounded-lg justify-center xl:justify-start hover:bg-[#F2F2F2];
  }

  .topNav{
    @apply bg-white dark:bg-neutral-950 fixed w-full z-50 flex flex-row justify-between items-center gap-10 border-b-[1px] border-[#262626] p-1 md:hidden;
  }
  .right-topNav{
    @apply flex flex-row justify-around items-center gap-6;
  }
  .navContent {
    @apply bg-white dark:bg-neutral-950 fixed border-t-[1px] border-[#262626] z-50 w-full md:w-fit xl:w-10/12 flex justify-center
    md:relative md:h-full gap-10 md:gap-y-6 md:mx-1 md:p-0 bottom-0 md:border-none md:flex-col p-1;
  }
  /* search-input */
  .search-input{
    @apply flex w-full text-16 focus-visible:!ring-0 focus-visible:!ring-offset-0 bg-secondary/80;
  }
  .icon-searchInput{
    @apply cursor-pointer justify-center items-center w-4 flex-none mx-2;
  }

  /* moreoption */
  .moreOption {
    @apply hidden md:flex md:justify-center xl:justify-start relative md:mb-6 grow-0 items-end w-10/12 xl:mx-2;
  }
  .optionItem {
    @apply dark:hover:bg-[#3C3C3C] !cursor-pointer flex items-center gap-x-2 !px-4 !py-3.5 !m-1.5 !rounded-lg font-medium;
  }

}