@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer utilities {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-dark {
    @apply bg-neutral-950;
  }
  .layout-mobile {
  }
}

@layer components {
  /* Sidebar */
  .sidebar {
    @apply fixed bottom-0 w-full h-12 border border-t-[1px] border-[#262626] bg-white dark:bg-dark z-50
    md:w-[72] md:h-full md:py-4 md:border-r-[1px] xl:w-[244px] flex flex-row transition-all duration-500 ease-in-out;
  }
  .sidebar-content {
    @apply w-full h-full flex flex-row justify-evenly items-center
    md:px-3 md:py-4 md:gap-y-2 md:flex-col md:justify-between;
  }

  .sidebar-logo {
    @apply w-10/12 rounded-lg px-1 py-3 md:flex cursor-pointer justify-center items-center mt-12 xl:justify-start hover:bg-secondary/80;
  }
  .sidebar-link {
    @apply w-12 h-12 xl:w-full flex flex-row justify-center items-center rounded-lg xl:!justify-start;
  }

  /* more-option */
  .more-option {
    @apply hidden md:flex md:justify-center xl:justify-start relative md:mt-auto items-end w-full flex-1;
  }
  .option-item {
    @apply dark:hover:bg-[#3C3C3C] !cursor-pointer flex items-center gap-x-2 !px-4 !py-3.5 !m-1.5 !rounded-lg font-medium;
  }

  /* posts */
  .postOption {
    @apply flex items-center justify-center border-b border-zinc-300 dark:border-neutral-700 text-sm font-medium w-full;
  }

  .dialogContent {
    @apply bg-white dark:bg-neutral-800 !p-0 overflow-hidden !gap-0;
  }
}
